## Cricheroes Assignment
### Code language: Python
### Made by: Mr. Nilesh S. Deshmukh

In [1]:

# importing necessary packages
import numpy as np
import pandas as pd
pd.set_option('max_columns', None)

# didn't want warnings to be displayed
import warnings
warnings.filterwarnings("ignore")

In [2]:

# Imported zim vs ban.csv
df = pd.read_csv(r'zim vs ban.csv')

In [3]:

df.head(10)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1267680,2021,22-07-2021,Harare Sports Club,1,0.1,Zimbabwe,Bangladesh,W Madhevere,T Marumani,Mohammad Saifuddin,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1267680,2021,22-07-2021,Harare Sports Club,1,0.2,Zimbabwe,Bangladesh,W Madhevere,T Marumani,Mohammad Saifuddin,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1267680,2021,22-07-2021,Harare Sports Club,1,0.3,Zimbabwe,Bangladesh,T Marumani,W Madhevere,Mohammad Saifuddin,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1267680,2021,22-07-2021,Harare Sports Club,1,0.4,Zimbabwe,Bangladesh,T Marumani,W Madhevere,Mohammad Saifuddin,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1267680,2021,22-07-2021,Harare Sports Club,1,0.5,Zimbabwe,Bangladesh,T Marumani,W Madhevere,Mohammad Saifuddin,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1267680,2021,22-07-2021,Harare Sports Club,1,0.6,Zimbabwe,Bangladesh,W Madhevere,T Marumani,Mohammad Saifuddin,0,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
6,1267680,2021,22-07-2021,Harare Sports Club,1,1.1,Zimbabwe,Bangladesh,W Madhevere,T Marumani,Mustafizur Rahman,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1267680,2021,22-07-2021,Harare Sports Club,1,1.2,Zimbabwe,Bangladesh,T Marumani,W Madhevere,Mustafizur Rahman,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1267680,2021,22-07-2021,Harare Sports Club,1,1.3,Zimbabwe,Bangladesh,T Marumani,W Madhevere,Mustafizur Rahman,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1267680,2021,22-07-2021,Harare Sports Club,1,1.4,Zimbabwe,Bangladesh,T Marumani,W Madhevere,Mustafizur Rahman,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

# Deleted unnecessary columns
df.drop(['match_id', 'season', 'start_date', 'venue', 'non_striker', 'byes', 'penalty', 'player_dismissed', 
                 'other_wicket_type', 'other_player_dismissed'], axis=1, inplace=True)

In [5]:
# checking shape after dropping columns
df.shape

(236, 12)

In [6]:
# checking null value count
df.isnull().sum()

innings           0
ball              0
batting_team      0
bowling_team      0
striker           0
bowler            0
runs_off_bat      0
extras            0
wides           230
noballs         233
legbyes         233
wicket_type     224
dtype: int64

In [7]:
# checking datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   innings       236 non-null    int64
 1   ball          236 non-null    float64
 2   batting_team  236 non-null    object
 3   bowling_team  236 non-null    object
 4   striker       236 non-null    object
 5   bowler        236 non-null    object
 6   runs_off_bat  236 non-null    int64
 7   extras        236 non-null    int64
 8   wides         6 non-null      float64
 9   noballs       3 non-null      float64
 10  legbyes       3 non-null      float64
 11  wicket_type   12 non-null     object
dtypes: float64(4), int64(3), object(5)
memory usage: 22.2+ KB

In [8]:

# filling 'NaN' values with 0's and blank
df[['wides', 'noballs', 'legbyes']] = df[['wides', 'noballs', 'legbyes']].fillna(0)
df[['wicket_type']] = df[['wicket_type']].fillna('')

In [9]:

# changing datatype
df = df.astype({"wides": int, "noballs": int, "legbyes": int})

In [10]:
# check for datatype change
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   innings       236 non-null    int64
 1   ball          236 non-null    float64
 2   batting_team  236 non-null    object
 3   bowling_team  236 non-null    object
 4   striker       236 non-null    object
 5   bowler        236 non-null    object
 6   runs_off_bat  236 non-null    int64
 7   extras        236 non-null    int64
 8   wides         236 non-null    int32
 9   noballs       236 non-null    int32
 10  legbyes       236 non-null    int32
 11  wicket_type   236 non-null    object
dtypes: float64(1), int32(3), int64(3), object(5)
memory usage: 19.5+ KB

## Variables Creation for Bowling Stats

### 1. Runs given by bowler

In [11]:
# renaming the default indices
df.rename(columns={"batting_team":"Batting team","bowling_team":"Bowling team","striker":"Batter","bowler":"Bowler"},
                    inplace=True)

In [12]:
# Runs given by bowler
df['runs_conceded'] = df.runs_off_bat + df.wides + df.noballs

runs_given = df.groupby(['Bowling team', 'Bowler'],sort = False)['runs_conceded'].sum()
runs_given

NumExpr defaulting to 4 threads.

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin    23
              Mustafizur Rahman     31
              Shakib Al Hasan       28
              Shoriful Islam        17
              Mahedi Hasan          18
              Mahmudullah           14
              Soumya Sarkar         18
Zimbabwe      B Muzarabani          19
              W Madhevere           24
              R Ngarava             46
              LM Jongwe             28
              Sikandar Raza         16
              WP Masakadza          20
Name: runs_conceded, dtype: int64

### 2. Total balls bowled

In [13]:
# total_balls
total_balls = df[(df.wides == 0) & (df.noballs == 0)].groupby(['Bowling team', 'Bowler'],sort = False)['ball'].size()
Total_balls = total_balls.rename('Total_balls')
Total_balls

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin    24
              Mustafizur Rahman     24
              Shakib Al Hasan       24
              Shoriful Islam        18
              Mahedi Hasan           6
              Mahmudullah            6
              Soumya Sarkar         12
Zimbabwe      B Muzarabani          23
              W Madhevere           18
              R Ngarava             24
              LM Jongwe             18
              Sikandar Raza         12
              WP Masakadza          18
Name: Total_balls, dtype: int64

### 3. Overs bowled

In [14]:
# craeting overs from total balls column
overs = total_balls.apply(lambda x: x//6 + x%6/10)
overs

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin    4.0
              Mustafizur Rahman     4.0
              Shakib Al Hasan       4.0
              Shoriful Islam        3.0
              Mahedi Hasan          1.0
              Mahmudullah           1.0
              Soumya Sarkar         2.0
Zimbabwe      B Muzarabani          3.5
              W Madhevere           3.0
              R Ngarava             4.0
              LM Jongwe             3.0
              Sikandar Raza         2.0
              WP Masakadza          3.0
Name: ball, dtype: float64

### 4. Dot balls

In [15]:
# creating dot balls column
df['dots'] = df.apply(lambda x: 1 if (x.runs_off_bat + x.extras) == 0 else 0, axis=1)

dot_balls = df.groupby(['Bowling team', 'Bowler'],sort = False)['dots'].sum()
dot_balls

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin     9
              Mustafizur Rahman      9
              Shakib Al Hasan        6
              Shoriful Islam        11
              Mahedi Hasan           1
              Mahmudullah            0
              Soumya Sarkar          2
Zimbabwe      B Muzarabani          10
              W Madhevere            6
              R Ngarava              6
              LM Jongwe              5
              Sikandar Raza          2
              WP Masakadza           4
Name: dots, dtype: int64

### 5. Economy Rate

In [16]:
ER = round(runs_given/total_balls * 6, 2).rename('ER')
ER

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin     5.75
              Mustafizur Rahman      7.75
              Shakib Al Hasan        7.00
              Shoriful Islam         5.67
              Mahedi Hasan          18.00
              Mahmudullah           14.00
              Soumya Sarkar          9.00
Zimbabwe      B Muzarabani           4.96
              W Madhevere            8.00
              R Ngarava             11.50
              LM Jongwe              9.33
              Sikandar Raza          8.00
              WP Masakadza           6.67
Name: ER, dtype: float64

### 6. Wickets taken by bowler

In [17]:
# Wickets count by bowler
df['wkt_encode'] = df['wicket_type'].apply(lambda x: 1 if x != 'run out' and x != '' else 0)

wickets = df.groupby(['Bowling team', 'Bowler'],sort = False)['wkt_encode'].sum()
wickets

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin    2
              Mustafizur Rahman     3
              Shakib Al Hasan       1
              Shoriful Islam        2
              Mahedi Hasan          0
              Mahmudullah           0
              Soumya Sarkar         1
Zimbabwe      B Muzarabani          0
              W Madhevere           0
              R Ngarava             0
              LM Jongwe             0
              Sikandar Raza         0
              WP Masakadza          0
Name: wkt_encode, dtype: int64

### 7. Fours conceded by bowler

In [18]:
# Fours conceded

df['4s_conceded'] = df['runs_off_bat'].apply(lambda x: 1 if x == 4 else 0)
fours = df.groupby(['Bowling team', 'Bowler'],sort = False)['4s_conceded'].sum()
fours

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin    2
              Mustafizur Rahman     3
              Shakib Al Hasan       2
              Shoriful Islam        1
              Mahedi Hasan          1
              Mahmudullah           2
              Soumya Sarkar         1
Zimbabwe      B Muzarabani          0
              W Madhevere           2
              R Ngarava             7
              LM Jongwe             2
              Sikandar Raza         1
              WP Masakadza          0
Name: 4s_conceded, dtype: int64

### 8. Sixes conceded by bowler

In [19]:
# Sixes conceded
df['6s_conceded'] = df['runs_off_bat'].apply(lambda x: 1 if x == 6 else 0)
sixes = df.groupby(['Bowling team', 'Bowler'],sort = False)['6s_conceded'].sum()
sixes

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin    0
              Mustafizur Rahman     1
              Shakib Al Hasan       0
              Shoriful Islam        1
              Mahedi Hasan          2
              Mahmudullah           0
              Soumya Sarkar         0
Zimbabwe      B Muzarabani          1
              W Madhevere           0
              R Ngarava             0
              LM Jongwe             1
              Sikandar Raza         0
              WP Masakadza          1
Name: 6s_conceded, dtype: int64

### 9. Extra runs given by bowler

In [20]:
# Extras
extras = df.groupby(['Bowling team', 'Bowler'],sort = False)['extras'].sum()
extras

Bowling team  Bowler
Bangladesh    Mohammad Saifuddin    1
              Mustafizur Rahman     1
              Shakib Al Hasan       2
              Shoriful Islam        0
              Mahedi Hasan          0
              Mahmudullah           0
              Soumya Sarkar         0
Zimbabwe      B Muzarabani          0
              W Madhevere           3
              R Ngarava             4
              LM Jongwe             1
              Sikandar Raza         1
              WP Masakadza          0
Name: extras, dtype: int64

In [21]:

# Joining all variables to create bowling stats 
Bowling = pd.concat([overs,runs_given,wickets,ER,dot_balls,Total_balls,fours, sixes,extras], axis=1)
Bowling

                                 ball  runs_conceded  wkt_encode     ER  dots  \
Bowling team Bowler
Bangladesh   Mohammad Saifuddin   4.0             23           2   5.75     9
             Mustafizur Rahman    4.0             31           3   7.75     9
             Shakib Al Hasan      4.0             28           1   7.00     6
             Shoriful Islam       3.0             17           2   5.67    11
             Mahedi Hasan         1.0             18           0  18.00     1
             Mahmudullah          1.0             14           0  14.00     0
             Soumya Sarkar        2.0             18           1   9.00     2
Zimbabwe     B Muzarabani         3.5             19           0   4.96    10
             W Madhevere          3.0             24           0   8.00     6
             R Ngarava            4.0             46           0  11.50     6
             LM Jongwe            3.0             28           0   9.33     5
             Sikandar Raza        2.0             16           0   8.00     2
             WP Masakadza         3.0             20           0   6.67     4

                                 Total_balls  4s_conceded  6s_conceded  extras
Bowling team Bowler
Bangladesh   Mohammad Saifuddin           24            2            0       1
             Mustafizur Rahman            24            3            1       1
             Shakib Al Hasan              24            2            0       2
             Shoriful Islam               18            1            1       0
             Mahedi Hasan                  6            1            2       0
             Mahmudullah                   6            2            0       0
             Soumya Sarkar                12            1            0       0
Zimbabwe     B Muzarabani                 23            0            1       0
             W Madhevere                  18            2            0       3
             R Ngarava                    24            7            0       4
             LM Jongwe                    18            2            1       1
             Sikandar Raza                12            1            0       1
             WP Masakadza                 18            0            1       0

## Bowling stats

In [22]:
# Renaming the variables
Bowling.rename({
                'ball':'Overs','runs_conceded':'Runs given',
                'wkt_encode':'Wickets','0':'ER','dots':'Dots','Total_balls':'Total balls','4s_conceded':'Fours',
                '6s_conceded':'Sixes', 'extras':'Extras'
               }, axis=1, inplace=True)
Bowling

                                 Overs  Runs given  Wickets     ER  Dots  \
Bowling team Bowler
Bangladesh   Mohammad Saifuddin    4.0          23        2   5.75     9
             Mustafizur Rahman     4.0          31        3   7.75     9
             Shakib Al Hasan       4.0          28        1   7.00     6
             Shoriful Islam        3.0          17        2   5.67    11
             Mahedi Hasan          1.0          18        0  18.00     1
             Mahmudullah           1.0          14        0  14.00     0
             Soumya Sarkar         2.0          18        1   9.00     2
Zimbabwe     B Muzarabani          3.5          19        0   4.96    10
             W Madhevere           3.0          24        0   8.00     6
             R Ngarava             4.0          46        0  11.50     6
             LM Jongwe             3.0          28        0   9.33     5
             Sikandar Raza         2.0          16        0   8.00     2
             WP Masakadza          3.0          20        0   6.67     4

                                 Total balls  Fours  Sixes  Extras
Bowling team Bowler
Bangladesh   Mohammad Saifuddin           24      2      0       1
             Mustafizur Rahman            24      3      1       1
             Shakib Al Hasan              24      2      0       2
             Shoriful Islam               18      1      1       0
             Mahedi Hasan                  6      1      2       0
             Mahmudullah                   6      2      0       0
             Soumya Sarkar                12      1      0       0
Zimbabwe     B Muzarabani                 23      0      1       0
             W Madhevere                  18      2      0       3
             R Ngarava                    24      7      0       4
             LM Jongwe                    18      2      1       1
             Sikandar Raza                12      1      0       1
             WP Masakadza                 18      0      1       0

## Bangladesh bowling card

In [23]:
Ban_Bowling = Bowling.iloc[:7,:]
Ban_Bowling

                                 Overs  Runs given  Wickets     ER  Dots  \
Bowling team Bowler
Bangladesh   Mohammad Saifuddin    4.0          23        2   5.75     9
             Mustafizur Rahman     4.0          31        3   7.75     9
             Shakib Al Hasan       4.0          28        1   7.00     6
             Shoriful Islam        3.0          17        2   5.67    11
             Mahedi Hasan          1.0          18        0  18.00     1
             Mahmudullah           1.0          14        0  14.00     0
             Soumya Sarkar         2.0          18        1   9.00     2

                                 Total balls  Fours  Sixes  Extras
Bowling team Bowler
Bangladesh   Mohammad Saifuddin           24      2      0       1
             Mustafizur Rahman            24      3      1       1
             Shakib Al Hasan              24      2      0       2
             Shoriful Islam               18      1      1       0
             Mahedi Hasan                  6      1      2       0
             Mahmudullah                   6      2      0       0
             Soumya Sarkar                12      1      0       0

## Zimbabwe bowling card

In [24]:
Zim_Bowling = Bowling.iloc[7:13,:]
Zim_Bowling

                            Overs  Runs given  Wickets     ER  Dots  \
Bowling team Bowler
Zimbabwe     B Muzarabani     3.5          19        0   4.96    10
             W Madhevere      3.0          24        0   8.00     6
             R Ngarava        4.0          46        0  11.50     6
             LM Jongwe        3.0          28        0   9.33     5
             Sikandar Raza    2.0          16        0   8.00     2
             WP Masakadza     3.0          20        0   6.67     4

                            Total balls  Fours  Sixes  Extras
Bowling team Bowler
Zimbabwe     B Muzarabani            23      0      1       0
             W Madhevere             18      2      0       3
             R Ngarava               24      7      0       4
             LM Jongwe               18      2      1       1
             Sikandar Raza           12      1      0       1
             WP Masakadza            18      0      1       0

### Que 1: Which Bowler has bowled with the least economy rate? [Min.3 overs Bowled]

In [25]:
Bowling_1 = Bowling[(Bowling.Overs >=3)]
Bowling_1[Bowling_1.ER == Bowling_1.ER.min()].iloc[:,0:4]

                           Overs  Runs given  Wickets    ER
Bowling team Bowler
Zimbabwe     B Muzarabani    3.5          19        0  4.96

### Que 2: Which Bowler has conceded most numbers of boundaries [4s and 6s] in the match

In [26]:
ban_bwl = Ban_Bowling[(Ban_Bowling.Fours + Ban_Bowling.Sixes) == (Ban_Bowling.Fours + Ban_Bowling.Sixes).max()].iloc[:,[0,2,4,6,7]]
print()
zim_bwl = Zim_Bowling[(Zim_Bowling.Fours + Zim_Bowling.Sixes) == (Zim_Bowling.Fours + Zim_Bowling.Sixes).max()].iloc[:,[0,2,4,6,7]]

concat = pd.concat([ban_bwl, zim_bwl], axis=0)
concat

                                Overs  Wickets  Dots  Fours  Sixes
Bowling team Bowler
Bangladesh   Mustafizur Rahman    4.0        3     9      3      1
Zimbabwe     R Ngarava            4.0        0     6      7      0

### Que 3: How many bowlers have conceded more than three 4s in the match?

In [27]:
Bowling_4s=Bowling[Bowling.Fours >3].iloc[:,[0,6]]
display(Bowling_4s)
print()
print("No.of bowlers conceded more than three 4s in the match:",len(Bowling_4s))

                        Overs  Fours
Bowling team Bowler
Zimbabwe     R Ngarava    4.0      7

No.of bowlers conceded more than three 4s in the match: 1

## Batting Stats

### 1. Run-Scorers

In [28]:
# runs scored by batter
runs = df.groupby(['Batting team', 'Batter'],sort = False)['runs_off_bat'].sum().rename('Runs')
runs

Batting team  Batter
Zimbabwe      W Madhevere      23
              T Marumani        7
              RW Chakabva      43
              D Myers          35
              Sikandar Raza     0
              TK Musakanda      6
              RP Burl           4
              LM Jongwe        18
              WP Masakadza      4
              R Ngarava         0
              B Muzarabani      8
Bangladesh    Mohammad Naim    63
              Soumya Sarkar    50
              Mahmudullah      15
              Nurul Hasan      16
Name: Runs, dtype: int64

### 2. Balls Played by batter

In [29]:
# balls played
ball_plyd = df[df.wides <1].groupby(['Batting team', 'Batter'],sort = False)['wides'].count().rename('Balls_played')
ball_plyd

Batting team  Batter
Zimbabwe      W Madhevere      23
              T Marumani        7
              RW Chakabva      22
              D Myers          22
              Sikandar Raza     3
              TK Musakanda      6
              RP Burl           6
              LM Jongwe        16
              WP Masakadza      3
              R Ngarava         2
              B Muzarabani      4
Bangladesh    Mohammad Naim    51
              Soumya Sarkar    45
              Mahmudullah      12
              Nurul Hasan       8
Name: Balls_played, dtype: int64

### 3. Fours by Batter

In [30]:
# Fours by Batters

df['4s_score'] = df['runs_off_bat'].apply(lambda x: 1 if x == 4 else 0)
Fours = df.groupby(['Batting team', 'Batter'],sort = False)['4s_score'].sum().rename('Fours')
Fours

Batting team  Batter
Zimbabwe      W Madhevere      0
              T Marumani       0
              RW Chakabva      5
              D Myers          2
              Sikandar Raza    0
              TK Musakanda     1
              RP Burl          0
              LM Jongwe        2
              WP Masakadza     0
              R Ngarava        0
              B Muzarabani     2
Bangladesh    Mohammad Naim    6
              Soumya Sarkar    4
              Mahmudullah      1
              Nurul Hasan      1
Name: Fours, dtype: int64

### 4. Sixes by Batter

In [31]:
# Sixes by Batters

df['6s_score'] = df['runs_off_bat'].apply(lambda x: 1 if x == 6 else 0)
Sixes = df.groupby(['Batting team', 'Batter'],sort = False)['6s_score'].sum().rename('Sixes')
Sixes

Batting team  Batter
Zimbabwe      W Madhevere      1
              T Marumani       1
              RW Chakabva      2
              D Myers          0
              Sikandar Raza    0
              TK Musakanda     0
              RP Burl          0
              LM Jongwe        0
              WP Masakadza     0
              R Ngarava        0
              B Muzarabani     0
Bangladesh    Mohammad Naim    0
              Soumya Sarkar    2
              Mahmudullah      0
              Nurul Hasan      1
Name: Sixes, dtype: int64

### 5. Strike Rate

In [32]:
# strikr rate
sr = round(runs/(ball_plyd)*100,2).rename('SR')
sr

Batting team  Batter
Zimbabwe      W Madhevere      100.00
              T Marumani       100.00
              RW Chakabva      195.45
              D Myers          159.09
              Sikandar Raza      0.00
              TK Musakanda     100.00
              RP Burl           66.67
              LM Jongwe        112.50
              WP Masakadza     133.33
              R Ngarava          0.00
              B Muzarabani     200.00
Bangladesh    Mohammad Naim    123.53
              Soumya Sarkar    111.11
              Mahmudullah      125.00
              Nurul Hasan      200.00
Name: SR, dtype: float64

### 6. Runs from boundries

In [33]:

# Runs scored in boundries
df.boundry_runs = df[(df.runs_off_bat==4) + (df.runs_off_bat==6) + (df.runs_off_bat==0)]
run_br = df.boundry_runs.groupby(['Batting team', 'Batter'],sort = False)['runs_off_bat'].sum().rename('runs_boundry')
run_br

Batting team  Batter
Zimbabwe      W Madhevere       6
              T Marumani        6
              RW Chakabva      32
              D Myers           8
              Sikandar Raza     0
              TK Musakanda      4
              LM Jongwe         8
              RP Burl           0
              R Ngarava         0
              B Muzarabani      8
Bangladesh    Soumya Sarkar    28
              Mohammad Naim    24
              Mahmudullah       4
              Nurul Hasan      10
Name: runs_boundry, dtype: int64

### 7. Percentage of runs scored from boundries

In [34]:
# percent of runs from boundries
percent_runs = round(run_br/runs *100, 2).rename('Percent_runs_in_boundries').fillna(0.0)
percent_runs

Batting team  Batter
Bangladesh    Mahmudullah       26.67
              Mohammad Naim     38.10
              Nurul Hasan       62.50
              Soumya Sarkar     56.00
Zimbabwe      B Muzarabani     100.00
              D Myers           22.86
              LM Jongwe         44.44
              R Ngarava          0.00
              RP Burl            0.00
              RW Chakabva       74.42
              Sikandar Raza      0.00
              T Marumani        85.71
              TK Musakanda      66.67
              W Madhevere       26.09
              WP Masakadza       0.00
Name: Percent_runs_in_boundries, dtype: float64

## Creating batting sheet

In [35]:

# Creating total scoresheet
Batting = pd.concat([runs,ball_plyd,Fours, Sixes,sr,run_br,percent_runs], axis=1, sort=False).fillna(0).astype({"runs_boundry": int})
Batting

                            Runs  Balls_played  Fours  Sixes      SR  \
Batting team Batter
Bangladesh   Mahmudullah      15            12      1      0  125.00
             Mohammad Naim    63            51      6      0  123.53
             Nurul Hasan      16             8      1      1  200.00
             Soumya Sarkar    50            45      4      2  111.11
Zimbabwe     B Muzarabani      8             4      2      0  200.00
             D Myers          35            22      2      0  159.09
             LM Jongwe        18            16      2      0  112.50
             R Ngarava         0             2      0      0    0.00
             RP Burl           4             6      0      0   66.67
             RW Chakabva      43            22      5      2  195.45
             Sikandar Raza     0             3      0      0    0.00
             T Marumani        7             7      0      1  100.00
             TK Musakanda      6             6      1      0  100.00
             W Madhevere      23            23      0      1  100.00
             WP Masakadza      4             3      0      0  133.33

                            runs_boundry  Percent_runs_in_boundries
Batting team Batter
Bangladesh   Mahmudullah               4                      26.67
             Mohammad Naim            24                      38.10
             Nurul Hasan              10                      62.50
             Soumya Sarkar            28                      56.00
Zimbabwe     B Muzarabani              8                     100.00
             D Myers                   8                      22.86
             LM Jongwe                 8                      44.44
             R Ngarava                 0                       0.00
             RP Burl                   0                       0.00
             RW Chakabva              32                      74.42
             Sikandar Raza             0                       0.00
             T Marumani                6                      85.71
             TK Musakanda              4                      66.67
             W Madhevere               6                      26.09
             WP Masakadza              0                       0.00

### Zimbabwe Batting

In [36]:
# pd.set_option('display.max_rows', None, 'display.max_columns', None)
Zim_Batting = Batting.iloc[4:,:]
Zim_Batting

                            Runs  Balls_played  Fours  Sixes      SR  \
Batting team Batter
Zimbabwe     B Muzarabani      8             4      2      0  200.00
             D Myers          35            22      2      0  159.09
             LM Jongwe        18            16      2      0  112.50
             R Ngarava         0             2      0      0    0.00
             RP Burl           4             6      0      0   66.67
             RW Chakabva      43            22      5      2  195.45
             Sikandar Raza     0             3      0      0    0.00
             T Marumani        7             7      0      1  100.00
             TK Musakanda      6             6      1      0  100.00
             W Madhevere      23            23      0      1  100.00
             WP Masakadza      4             3      0      0  133.33

                            runs_boundry  Percent_runs_in_boundries
Batting team Batter
Zimbabwe     B Muzarabani              8                     100.00
             D Myers                   8                      22.86
             LM Jongwe                 8                      44.44
             R Ngarava                 0                       0.00
             RP Burl                   0                       0.00
             RW Chakabva              32                      74.42
             Sikandar Raza             0                       0.00
             T Marumani                6                      85.71
             TK Musakanda              4                      66.67
             W Madhevere               6                      26.09
             WP Masakadza              0                       0.00

### Bangladesh Batting

In [37]:
Ban_Batting = Batting.iloc[:4,:]
Ban_Batting

                            Runs  Balls_played  Fours  Sixes      SR  \
Batting team Batter
Bangladesh   Mahmudullah      15            12      1      0  125.00
             Mohammad Naim    63            51      6      0  123.53
             Nurul Hasan      16             8      1      1  200.00
             Soumya Sarkar    50            45      4      2  111.11

                            runs_boundry  Percent_runs_in_boundries
Batting team Batter
Bangladesh   Mahmudullah               4                      26.67
             Mohammad Naim            24                      38.10
             Nurul Hasan              10                      62.50
             Soumya Sarkar            28                      56.00

### Que 4: Give a list of batters who have a strike rate of more than 120. [Min 20 Runs Scored]

In [38]:

Sr_more_120 = Batting[(Batting.Runs >= 20) & (Batting.SR > 120)].sort_values(by=['SR'],ascending=False).iloc[:,[0,1,4]]
Sr_more_120

                            Runs  Balls_played      SR
Batting team Batter
Zimbabwe     RW Chakabva      43            22  195.45
             D Myers          35            22  159.09
Bangladesh   Mohammad Naim    63            51  123.53

### Que 5: How many batters have scored more than 60% of total runs in Boundaries?

In [39]:

percent_more_60 = Batting[(Batting.Percent_runs_in_boundries > 60)]
perc = percent_more_60.sort_values(by='Percent_runs_in_boundries',ascending=False).iloc[:,[0,5,6]]
display(perc)
print()
print("batters have scored more than 60% of total runs in Boundaries :",len(perc))

                           Runs  runs_boundry  Percent_runs_in_boundries
Batting team Batter
Zimbabwe     B Muzarabani     8             8                     100.00
             T Marumani       7             6                      85.71
             RW Chakabva     43            32                      74.42
             TK Musakanda     6             4                      66.67
Bangladesh   Nurul Hasan     16            10                      62.50

batters have scored more than 60% of total runs in Boundaries : 5

### Que 6: How many batters got out before 10 runs?

In [40]:
# creating var for batter is he got out or not

df['out_count'] = df.wicket_type.apply(lambda x: 1 if x !='' else 0)
out_count = df.groupby(['Batting team', 'Batter'])['out_count'].sum()
out_count

Batting team  Batter
Bangladesh    Mahmudullah      0
              Mohammad Naim    1
              Nurul Hasan      0
              Soumya Sarkar    1
Zimbabwe      B Muzarabani     1
              D Myers          1
              LM Jongwe        1
              R Ngarava        1
              RP Burl          1
              RW Chakabva      1
              Sikandar Raza    1
              T Marumani       1
              TK Musakanda     1
              W Madhevere      1
              WP Masakadza     0
Name: out_count, dtype: int64

In [41]:
# Run scorecard
Runs = Batting.Runs
Runs

Batting team  Batter
Bangladesh    Mahmudullah      15
              Mohammad Naim    63
              Nurul Hasan      16
              Soumya Sarkar    50
Zimbabwe      B Muzarabani      8
              D Myers          35
              LM Jongwe        18
              R Ngarava         0
              RP Burl           4
              RW Chakabva      43
              Sikandar Raza     0
              T Marumani        7
              TK Musakanda      6
              W Madhevere      23
              WP Masakadza      4
Name: Runs, dtype: int64

In [42]:

# Filtering batters got out before scoring 10 runs
out = pd.concat([Runs,out_count], axis=1)
out_1 = out[(out.Runs <10) & (out.out_count==1)].iloc[:,[0]]
display(out_1)
print()
print("Batters got out before 10 runs: ",len(out_1))

                            Runs
Batting team Batter
Zimbabwe     B Muzarabani      8
             R Ngarava         0
             RP Burl           4
             Sikandar Raza     0
             T Marumani        7
             TK Musakanda      6

Batters got out before 10 runs:  6

### Que 7: Which team has conceded more runs as Extras?

In [43]:
# Extras 
df_s = df.groupby('Bowling team')['extras'].sum()
s_df = pd.DataFrame(df_s)
s_df[s_df.extras == s_df.extras.max()]

              extras
Bowling team
Zimbabwe           9

### Que 8: Which Team has scored more runs in Power play?

In [44]:
# Runs in Power-lay
df['team_runs'] = df['runs_off_bat'] + df['extras']
team_run = df[df.ball<6].groupby(['Batting team'])['team_runs'].sum()
team_run
Runs_Scored = pd.DataFrame(team_run)
Runs_Scored[Runs_Scored.team_runs == Runs_Scored.team_runs.max()]

              team_runs
Batting team
Zimbabwe             50

### Que 9: Which Team as Scored more Boundaries [4s+ 6s] in Death Overs?

In [45]:
# Considering overs from 16-20 as death overs
df1 = df[df.ball>=15]

# Teamwise Fours in death overs 
df1['4_score'] = df1['runs_off_bat'].apply(lambda x: 1 if x == 4 else 0)
Fours_t = df1.groupby(['Batting team'],sort = False)['4_score'].sum().rename('Fours_t')

# Teamwise sixes in death overs 
df1['6_score'] = df1['runs_off_bat'].apply(lambda x: 1 if x == 6 else 0)
Sixes_t = df1.groupby(['Batting team'],sort = False)['6_score'].sum().rename('Sixes-t')

# Total boundries scored in death overs
total_f_s = (Fours_t + Sixes_t).rename('total_Bdr')
total_f_s

death_ovr = pd.concat([Fours_t,Sixes_t,total_f_s],axis=1)
death_ovr

              Fours_t  Sixes-t  total_Bdr
Batting team
Zimbabwe            4        0          4
Bangladesh          2        1          3

In [46]:
# Fetching team scored more boundries
death_ovr[death_ovr.total_Bdr == death_ovr.total_Bdr.max()]

              Fours_t  Sixes-t  total_Bdr
Batting team
Zimbabwe            4        0          4

### ------------------------------------ _/\_ Thank You For Visiting /\ ------------------------------------